.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
}
.shop-csrt{
  float: right;
  cursor: pointer;
  transition: color 500ms ease;
}
.shop-csrt:hover,
.shop-csrt.active{
color: brown;
}
.shop-item{
  position: absolute;
  top: 30px;
  right: 0;
  width: 250px;
  min-height: 100px;
  background-color: aquamarine;
}
header{
  position: relative;
}